body {
	margin-right:auto;
	margin-left:auto;
	width: 1100px;
	background-color: black;
}

.zahid {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;

}

.nav {
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
	color: red;
	justify-content: center;
	word-spacing: 25px;

}

.container {
	display: flex;
	flex-direction:column;
	font-family: Noto Sans, sans;
	font-size: 16px;
	color: white;
	line-height: 22px;
}